<div id="myNav" class="overlay">

    <button type="button" class="btn btn-default btn-md closebtn" ng-click="closeNav()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>

    <div class="overlay-content">
        <!-- LOGIN -->
        <form class="col-lg-offset-2 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6" name="loginForm" novalidate ng-submit="login()"
        ng-hide="auth.isAuthenticated()">
            <h2>Login</h2>
            <div ng-repeat="error in errors">{{error.error}}</div>
            <div class="form-group">
                <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Email Address">
            </div>
            <div class="form-group">
                <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Password">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form>
        <!-- REGISTER -->
        <form class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-3 col-sm-6" name="loginForm" novalidate ng-submit="register()"
        ng-hide="auth.isAuthenticated()">
            <div ng-repeat="error in errors">{{error.error}}</div>
            <h2>Subscribe</h2>
            <div class="form-group">
                <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Enter your email address">
            </div>
            <div class="form-group">
                <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Define a password">
            </div>
            <div class="form-group">
                <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form>
    </div>
</div>

<button type="button" class="btn btn-default btn-md hamburger-menu" ng-click="openNav()">
  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
</button>


<!-- <nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <li ui-sref-active="active"><a ui-sref="anon.login" ng-hide="auth.isAuthenticated()">Login</a></li>
                    <li ui-sref-active="active"><a ui-sref="anon.register" ng-hide="auth.isAuthenticated()">Register</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()">Dashboard</a></li>
                    <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'>Logout</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
