<!-- START Barre de recherche  -->
<div class="container">
    <div class="row vertical-line">
        <div class="col-lg-offset-2 col-lg-3 col-xs-4 logo-result">
            <h1><span class="blue">W</span><span class="red">I</span><span class="yellow">I</span><span class="blue">G</span><span class="green">L</span><span class="red">E</span></h1>
        </div>
        <div class="col-lg-5 col-xs-6 input-group search-result">
            <form ng-submit="nextSearch()">
                <div class="input-group">
                    <input class="search-query form-control" placeholder="Search something..." type="text" ng-model="query">
                    <span class="input-group-btn" type="submit">
                      <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END Barre de recherche -->
<div class="container-fluid" ng-show="spinner">
  <div class="row">
    <div class="spinner col-xs-offset-5 col-xs-1">
      <img src="../img/spinner.gif" alt="spinner loader" class=""   />
    </div>
  </div>
</div>

<div class="container-fluid result" ng-show="resultatrecherche">
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-7 first-column">
            <!-- VIDEO -->
            <div ng-hide="hideVideo" ng-bind-html="bindHTML" class="video-container video">
                <div ng-hide="imgVideo">
                    <img src="img/404.jpg" alt="">
                    <p>sorry we didn't find any Video of "{{query}}" so there is a cat !</p>
                </div>
            </div>
            <div ng-hide="imgVideo">
                <img src="img/404.jpg" alt="">
                <p>sorry we didn't find any video of "{{query}}" so there is a cat !</p>
            </div>
            <!-- END VIDEO -->
            <!-- START FILM -->
            <div ng-hide="hideMovie" class="col-xs-12 film">

                <div id="results">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank"><img class="img-responsive center-block" ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}"></a>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <h3 class="title"><a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a></h3>
                        <ul class="film-details">
                            <li><strong>Released on: </strong> {{ details.Released }} ({{ details.Runtime }})</li>
                            <li><strong>Director: </strong> {{ details.Director }}</li>
                            <li><strong>Actors: </strong> {{ details.Actors }}</li>
                            <li><strong>Genre: </strong> {{ details.Genre }}</li>
                        </ul>
                        <p>{{ details.Plot }}</p>
                        <ul class="ratings">
                            <li><strong>IMDb Rating: </strong> {{ details.imdbRating }}</li>
                            <li><strong>Rotten Tomatoes: </strong> {{ details.tomatoRating }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-hide="cineImage">
                <img src="img/404.jpg" alt="">
                <p>sorry we didn't find any Film of "{{query}}" so there is a cat !</p>
            </div>
            <!-- END FILM -->
        </div>

        <div class="col-lg-4 col-md-5 col-sm-5 second-column">
            <!-- START IMAGE -->
            <a href="{{image.value[0].contentUrl}}" target="_blank"> <img class="img-responsive center-block image" src="{{image.value[0].contentUrl}}" alt=""></a>
            <div ng-hide="hideTxtImage">
                <img src="img/404.jpg" alt="">
                <p>sorry we didn't find an image of "{{query}}" so there is a cat !</p>
            </div>
            <!-- END IMAGE -->
            <!-- START GIF -->
            <div>
                <a href="{{gif[0].bitly_gif_url}}" target="_blank"><img class="img-responsive center-block gif" src="{{gif[0].images.downsized.url}}" alt=""></a>
                <div ng-hide="imgNotFound">
                    <p>sorry we didn't find a gif of "{{query}}" so there is a cat !</p>
                    <img src="img/404.jpg" alt="">
                </div>
            </div>
            <!-- END GIF -->

        </div>
        <!-- START COULEUR -->
        <div class="col-lg-3 col-md-5 col-sm-5 third-column">
            <div ng-hide="hideColor">
                <div class="color" style="background-color: #{{ color.colors[0].hex }};">
                    <p>#{{ color.colors[0].hex }}</p>
                </div>
            </div>
            <div ng-hide="imgColor">
                <p>sorry we didn't find any color of "{{query}}" so there is a cat !</p>
                <img src="img/404.jpg" alt="">
            </div>
            <!-- END COULEUR -->
            <!-- START WEBSITE -->
            <div ng-hide="hideWeb" class="col-xs-12 site text-center">
                <h3><a href="{{web.webPages.value[0].url}}" target="_blank">{{web.webPages.value[0].name}}</a></h3>
                <a class="website-link" href="{{web.webPages.value[0].url}}" target="_blank">See website</a>
                <p>{{web.webPages.value[0].snippet}}</p>
            </div>
            <div ng-hide="hideImgWeb">
                <img src="img/404.jpg" alt="">
                <p>sorry we didn't find any website of "{{query}}" so there is a cat !</p>
            </div>
            <!-- END WEBSITE -->
            <!-- START MUSIQUE -->
            <div ng-hide="hideAudio" class="col-xs-12 site text-center music">
                <h3><a href="{{ data.tracks.items[0].external_urls.spotify }}" target="_blank">{{ data.tracks.items[0].name }}</a></h3>
                <p><a href="{{ data.tracks.items[0].artists[0].external_urls.spotify }}" target="_blank">{{ data.tracks.items[0].artists[0].name }}</a></p>
                <a href="{{ data.tracks.items[0].external_urls.spotify }}" target="_blank"><img class="img-responsive center-block" src="{{ data.tracks.items[0].album.images[1].url }}" /></a>
                <audio class="col-xs-12" src="{{ data.tracks.items[0].preview_url }}" controls></audio>
            </div>
            <div ng-hide="imgAudio">
                <img src="img/404.jpg" alt="">
                <p>sorry we didn't find any Music of "{{query}}" so there is a cat !</p>
            </div>
            <!-- END MUSIQUE -->
        </div>
    </div>
</div>


<!-- BACK TO TOP BUTTON -->
<button id="top-button" class="btn btn-default" ng-click="scroll()" ng-controller="ScrollController">
  <span class="glyphicon glyphicon-menu-up"></span>
</button>
