<div class="container">
  <div class="row">
    <!-- HISTORY -->
    <div class="col-md-offset-1 col-md-6 col-xs-12 history">
      <h2>History</h2>
      <div class="row">
        <div class="col-xs-6">
          <label>Show last
            <input type="number" class="form-control bfh-number" value="5" step="5" min="0" ng-model="numLimit">
          </label>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-default btn-md pull-right delete-all" type="button" name="button" ng-click="deleteAll()">Delete all</button>
        </div>
      </div>

      <div class="searchHistory" ng-repeat="search in history | limitTo : numLimit">
        <div class="row">
          <div class="col-xs-6">
            <h4><a ng-click="seeContent($index)">{{search.content}}</a></h4>
            <h5>{{search.date | date: 'yyyy-MM-dd HH:mm' }}</h5>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-default btn-md delete" type="button" name="button" ng-click="delete(search._id)">Delete</button>
          </div>
        </div>

        <!-- SHOW RESULTS  -->
        <div class="container-fluid result-thumb" ng-show="$index === selectedIndex">
          <div class="row">
            <!-- FIRST COLUMN -->
            <div class="col-lg-5 col-md-7 col-sm-7 first-column">
              <!-- VIDEO -->
              <div class="video-wrapper">
                <a href="{{ search.results.video }}" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i><img class="img-responsive center-block image" src="{{ search.results.videoImage }}" alt=""></a>
              </div>
              <!-- FILM -->
              <div class="col-xs-12 film">
                <div class="col-xs-12">
                    <h5><a href="http://imdb.com/title/{{ search.results.omdbLink }}" target="_blank">{{ search.results.omdbTitle }}</a></h5>
                    <a href="{{ search.results.omdb }}" target="_blank"><img class="img-responsive center-block" ng-src="{{ search.results.omdb }}"></a>
                </div>
              </div>
            </div>
            <!-- SECOND COLUMN -->
            <div class="col-lg-4 col-md-5 col-sm-5 second-column">
              <!-- IMAGE -->
              <a href="{{ search.results.image }}" target="_blank"> <img class="img-responsive center-block image" src="{{ search.results.image }}" alt=""></a>
              <!-- GIF -->
              <a href="{{ search.results.giphy }}" target="_blank"><img class="img-responsive center-block gif" src="{{ search.results.giphy }}" alt=""></a>
            </div>
            <!-- THIRD COLUMN -->
            <div class="col-lg-3 col-md-5 col-sm-5 third-column">
              <a class="linkcolor" copy-to-clipboard="#{{ search.results.color }}">
                  <div onclick="alert('The color has been copied to the clipboard')" class="color" style="background-color: #{{ search.results.color }}">
                      <p>#{{ search.results.color }}</p>
                  </div>
              </a>
              <!-- WEBSITE -->
              <div class="col-xs-12 site text-center">
                <h5><a href="{{ search.results.web }}" target="_blank">{{ search.results.webName }}</a></h5>
              </div>
              <!-- MUSIC -->
              <div class="col-xs-12 site text-center music">
                <a href="{{ search.results.spotifyAlbum }}" target="_blank"><img class="img-responsive center-block" src="{{ search.results.spotifyAlbum }}" /></a>
                <audio class="col-xs-12" src="{{ search.results.spotify }}" controls></audio>
              </div>
            </div>

          </div>

        </div>

        <!-- <div class="container-fluid options">
          <div class="row">
            <div class="col-xs-6">
              <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-default btn-md delete" type="button" name="button" ng-click="delete(search._id)">Delete</button>
            </div>
          </div>
        </div> -->

      </div>

    </div>




    <!-- FAVOURITE -->
    <div class="col-md-4 col-xs-12 favourite">
      <h2>Favourites</h2>
      <div class="zoneFavourites">
        <div class="searchFavourites" ng-repeat="search in favourites | orderBy: '-count' | limitTo: 5">
          <div class="row">
            <div class="col-xs-6">
              <h4><i class="fa fa-star" aria-hidden="true"></i><a href="http://localhost:8000/#!/resultat/{{ search.content }}">{{ search.content }}</a></h4>
            </div>
            <div class="col-xs-6 text-right">
              <h4>{{ search.count }} search(es)</h4>
            </div>
          </div>
      </div>



      </div>
    </div>



  </div>
</div>

<!-- BACK TO TOP BUTTON -->
<button id="top-button" class="btn btn-default" ng-click="scroll()" ng-controller="ScrollController">
  <span class="glyphicon glyphicon-menu-up"></span>
</button>
