<div class="container">
  <div class="row">
    <!-- HISTORY -->
    <div class="col-md-6 col-xs-12 history">
      <h2>History</h2>
      <div class="searchHistory" ng-repeat="search in history">
        <h4><a ng-click="seeContent($index)">{{search.content}}</a></h4>
        <h5>{{search.date}}</h5>

        <!-- SHOW RESULTS  -->
        <div class="container-fluid result-thumb" ng-show="$index === selectedIndex">
          <div class="row">
            <!-- FIRST COLUMN -->
            <div class="col-lg-5 col-md-7 col-sm-7 first-column">
              <!-- VIDEO -->
              <div class="col-xs-12 video-container video" ng-bind-html="bindHTML">
              </div>
              <!-- FILM -->
              <div class="col-xs-12 film">
                <div id="results">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank"><img class="img-responsive center-block" ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}"></a>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <h3 class="title"><a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a></h3>
                        <ul class="film-details">
                            <li><strong>Released on: </strong> {{ details.Released }} ({{ details.Runtime }})</li>
                            <li><strong>Director: </strong> {{ details.Director }}</li>
                            <li><strong>Actors: </strong> {{ details.Actors }}</li>
                            <li><strong>Genre: </strong> {{ details.Genre }}</li>
                        </ul>
                        <p>{{ details.Plot }}</p>
                        <ul class="ratings">
                            <li><strong>IMDb Rating: </strong> {{ details.imdbRating }}</li>
                            <li><strong>Rotten Tomatoes: </strong> {{ details.tomatoRating }}</li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
            <!-- SECOND COLUMN -->
            <div class="col-lg-4 col-md-5 col-sm-5 second-column">
              <!-- IMAGE -->
              <a href="{{image.value[0].contentUrl}}" target="_blank"> <img class="img-responsive center-block image" src="{{image.value[0].contentUrl}}" alt=""></a>
              <!-- GIF -->
              <div>
                  <a href="{{gif[0].bitly_gif_url}}" target="_blank"><img class="img-responsive center-block gif" src="{{gif[0].images.downsized.url}}" alt=""></a>
              </div>
            </div>
            <!-- THIRD COLUMN -->
            <div class="col-lg-3 col-md-5 col-sm-5 third-column">
              <div class="">
                <div class="color" style="background-color: #{{ color.colors[0].hex }};">
                  <p>#{{ color.colors[0].hex }}</p>
                </div>
              </div>
              <!-- WEBSITE -->
              <div class="col-xs-12 site text-center">
                <h3><a href="{{web.webPages.value[0].url}}" target="_blank">{{web.webPages.value[0].name}}</a></h3>
                <a class="website-link" href="{{web.webPages.value[0].url}}" target="_blank">See website</a>
                <p>{{web.webPages.value[0].snippet}}</p>
              </div>
              <!-- MUSIC -->
              <div class="col-xs-12 site text-center music">
                <h3><a href="{{ data.tracks.items[0].external_urls.spotify }}" target="_blank">{{ data.tracks.items[0].name }}</a></h3>
                <p><a href="{{ data.tracks.items[0].artists[0].external_urls.spotify }}" target="_blank">{{ data.tracks.items[0].artists[0].name }}</a></p>
                <a href="{{ data.tracks.items[0].external_urls.spotify }}" target="_blank"><img class="img-responsive center-block" src="{{ data.tracks.items[0].album.images[1].url }}" /></a>
                <audio class="col-xs-12" src="{{ data.tracks.items[0].preview_url }}" controls></audio>
              </div>
            </div>



          </div>



        </div>

        <div class="container-fluid options">
          <div class="row">
            <div class="col-xs-6">
              <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-default btn-md delete" type="button" name="button" ng-click="delete($index)">Delete</button>
            </div>
          </div>
        </div>

      </div>



      <button class="btn btn-default btn-md" type="button" name="button" ng-click="">Delete all</button>
    </div>




    <!-- FAVOURITE -->
    <div class="col-md-6 col-xs-12 favourite">
      <h2>Favourites</h2>
      <div class="searchHistory" ng-repeat="search in history">
        <h4>{{search.content}}</h4>
        <h5>{{search.date}}</h5>
      </div>
    </div>


  </div>
</div>
